<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TraitementFormulaire</servlet-name>
        <servlet-class>com.controller.TraitementFormulaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bienvenue</servlet-name>
        <servlet-class>com.controller.Bienvenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransfertDonnee</servlet-name>
        <servlet-class>com.controller.TransfertDonnee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>com.controller.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheParametre</servlet-name>
        <servlet-class>com.controller.AfficheParametre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitementFormulaire</servlet-name>
        <url-pattern>/traitementFormulaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bienvenue</servlet-name>
        <url-pattern>/bienvenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransfertDonnee</servlet-name>
        <url-pattern>/transfertDonnee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheParametre</servlet-name>
        <url-pattern>/afficheParametre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
